* {
    margin: 0;
    padding: 0;
    font-family: 思源黑體, 微軟正黑體, 蘋方黑體, 華康麗黑體, Helvetica, Arial, sans-serif, serif;
}

img {
    vertical-align: top;
}

body {
    background-color: #ebf1f8;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav {
    font-size: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}

nav a {
    padding: 1px;
    color: #052855;
    text-decoration: none;
}

.se_01,
.se_02,
.se_03, 
.se_04,
.se_05, footer {
    width: 100%;
}

nav .Title_Tool,
nav .Title_Link,
.se_01 text,
.se_02 article,
.se_03 article,
.se_04 article,
footer .item,
section {
    width: 80%;
}

nav .Title_Tool {
    height: 30px;
    margin-top: 10px;
    margin-right: 10vw;
    color: #052855;
    display: flex;
    justify-content: end;
}

nav .Title_Tool a {
    width: 50px;
    font-size: 14px;
}

nav .Title_Link {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

nav .Title_Link .item {
    height: 48px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

nav .Title_Link .title {
    height: 48px;
    font-size: 32px;
    margin-left: 5vw;
    display: flex;
    align-items: center;
}

nav .Title_Link button {
    width: 10vw;
    height: 48px;
    margin-right: 5vw;
    color: #fff;
    background-color: #0061ff;
    border-radius: 8px;
    border: 0;
}

.section_title {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_title .text {
    margin-left: 5vw;
}

.section_title .pic {
    margin-right: 5vw;
    display: flex;
    align-self: end;
}

.section_title .text h3 {
    font-size: 40px;
    color: #052855;
    letter-spacing: 0.8px;
}

.section_title .text p {
    margin: 24px 0;
    width: 48ch;
    font-size: 18px;
    color: #5d6a7a;
}

.section_title .text button {
    width: 320px;
    height: 48px;
    font-size: 16px;
    color: #fff;
    background-color: #0061ff;
    border-radius: 8px;
}

.section_title .text p:last-child {
    color: #5d6a7a;
    font-size: 13px;
    margin: 8px;
}

.section_title .pic {
    width: 457px;
    border-radius: 50% 50% 0 0;
    overflow: hidden;
}

.section_title .pic img {
    width: 100%;
    vertical-align: top;
}

.se_01 {
    background-color: #f7f8f9;
}

.se_02 {
    background-color: #fff;
}

.se_01 .text {
    margin-top: 64px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.se_01 .text h3 {
    margin: 8px;
    width: 100%;
    font-size: 32px;
    color: #052855;
    display: flex;
    justify-content: center;
}

.se_01 .text p {
    margin-top: 24px;
    margin-bottom: 64px;
    width: 90%;
    color: #052855;
    display: flex;
    justify-content: center;
}

.se_02,
.se_04 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.se_02 article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.se_02 .text {
    color: #052855;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.se_02 article:nth-child(even) {
    flex-direction: row-reverse;
}

.se_02 .text h3 {
    font-size: 28px;
    margin-bottom: 24px;
}

.se_02 .text p {
    font-size: 16px;
    margin-bottom: 24px;
}

.se_02 .text ul {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}

.se_02 .text li {
    font-size: 16px;
    width: 50%;
    margin: 8px 0;
}

.se_02 .text a {
    margin-top: 33px;
    font-size: 16px;
    color: #0061ff;
}

.se_02 .pic {
    width: 40%;
    margin: 5%;
}

.se_02 .pic img {
    width: 100%;
}

.se_03 {
    display: flex;
    justify-content: center;
    background-color: #f7f8f9;
}

.se_03 article {
    margin-bottom: 66px;
    text-align: center;
    color: #052855;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.se_03 h1 {
    margin: 64px 0;
    width: 100%;
    font-size: 28px;
}

.se_03 p {
    font-size: 16px;
    margin: 16px;
}

.se_03 .item {
    width: 33.333%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.se_03 .item img {
    width: 30%;
    margin: 15px 35%;
}

.se_04 {
    background-color: #fff;
}

.se_04, .se_04 article, .se_05 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.se_04 h1 {
    font-size: 28px;
    width: 100%;
    margin: 64px 0;
}
.se_04 .pic {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.se_04 .pic a {
    width: 18%;
    margin: 0 1%;
}

.se_04 .pic img {
    width: 100%;
}

.se_04 .item{
    margin-top: 58px;
    margin-bottom: 64px;
}

.se_04 .item p, .se_04 .item .author h2 {
    font-size: 16px;
}

.se_04 .item .author p {
    margin-top: 20px;
    font-size: 12px;
}
.se_04 h1 , 
.se_04 .item p, 
.se_04 .item .author h2, 
.se_04 .item .author p,
.se_05 h1{
    text-align: center;
    color: #052855;
}

.se_05 {
    margin: 64px 0;
}

.se_05 h1 {
    width: 100%;
    font-size: 40px;
}

.se_05 button {
    margin-top: 48px;
    width: 10vw;
    height: 3vw;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    background-color: #0061ff;
}

footer .item {
    width: 80%;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer li {
    list-style: none;
}

footer .footer_01 {
    margin-top: 32px;
    margin-bottom: 24px;
}

footer .footer_01 a {
    margin-right: 28px;
}

footer .footer_02 {
    border-top: 1px solid #fff8;
    display: flex;
    flex-wrap: wrap;
}

footer .footer_02 ul {
    width: 15%;
}

footer .footer_02 ul:nth-child(5) {
    width: auto;
}

footer .footer_02 li {
    opacity: .6;
    margin-bottom: 8px;
}
footer .footer_02 li:first-child{
    opacity: 1;
    margin-top: 25px;
    margin-bottom: 12px;
}

footer .footer_02 button {
    width: 255px;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    color: #172b4d;
    background-color: #e3b54c;
    border-bottom-style: none;
    margin-left: auto;
    margin-bottom: 24px;
}

footer .footer_03 {
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #fff8;
}

footer .footer_03 .text {
    width: 40%;
}

footer .footer_03 .icon {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

footer .footer_03 .icon a {
    width: 60px;
    height: 60px;
}

footer .footer_03 .icon img {
    width: 100%;
}

footer .footer_03 .text p {
    font-size: 16px;
}

footer .footer_03 .link {
    font-size: 16px;
    opacity: .8;
    width: 100%;
}

footer .footer_03 .link a {
    padding-right: 16px;
    margin-right: 12px;
    border-right: 1px solid #fff8;
}

footer .footer_03 .link a:last-child {
    border-right: none;
}

footer {
    font-size: 16px;
    color: #fff;
    width: 100%;
    background-color: #00142d;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}