* {
    margin: 0;
    padding: 0;
    font-family: 思源黑體, 微軟正黑體, 蘋方黑體, 華康麗黑體, Helvetica, Arial, sans-serif, serif;
}

img {
    vertical-align: top;
}

body {
    background-color: #ebf1f8;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav {
    font-size: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}

nav a {
    padding: 1px;
    color: #052855;
    text-decoration: none;
}

nav .Title_Tool,
nav .Title_Link,
.se_01 text,
.se_02 article,
section {
    width: 80%;
}

nav .Title_Tool {
    height: 30px;
    margin-top: 10px;
    margin-right: 10vw;
    color: #052855;
    display: flex;
    justify-content: end;
}

nav .Title_Tool a {
    width: 50px;
    font-size: 14px;
}

nav .Title_Link {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

nav .Title_Link .item {
    height: 48px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

nav .Title_Link .title {
    height: 48px;
    font-size: 32px;
    margin-left: 5vw;
    display: flex;
    align-items: center;
}

nav .Title_Link button {
    width: 10vw;
    height: 48px;
    margin-right: 5vw;
    color: #fff;
    background-color: #0061ff;
    border-radius: 8px;
    border: 0;
}

.section_title {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_title .text {
    margin-left: 5vw;
}

.section_title .pic {
    margin-right: 5vw;
    display: flex;
    align-self: end;
}

.section_title .text h3 {
    font-size: 40px;
    color: #052855;
    letter-spacing: 0.8px;
}

.section_title .text p {
    margin: 24px 0;
    width: 48ch;
    font-size: 18px;
    color: #5d6a7a;
}

.section_title .text button {
    width: 320px;
    height: 48px;
    font-size: 16px;
    color: #fff;
    background-color: #0061ff;
    border-radius: 8px;
}

.section_title .text p:last-child {
    color: #5d6a7a;
    font-size: 13px;
    margin: 8px;
}

.section_title .pic {
    width: 457px;
    border-radius: 50% 50% 0 0;
    overflow: hidden;
}

.section_title .pic img {
    width: 100%;
    vertical-align: top;
}

.se_01,
.se_02 {
    width: 100%;
}

.se_01 {
    background-color: #f7f8f9;
}

.se_02 {
    background-color: #fff;
}

.se_01 .text {
    margin-top: 64px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.se_01 .text h3 {
    margin: 3px;
    width: 100%;
    font-size: 32px;
    color: #052855;
    display: flex;
    justify-content: center;
}

.se_01 .text p {
    margin-top: 10px;
    margin-bottom: 64px;
    width: 90%;
    color: #052855;
    display: flex;
    justify-content: center;
}

.se_02 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.se_02 article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.se_02 .text {
    color: #052855;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.se_02 article:nth-child(even) {
    flex-direction: row-reverse;
}

.se_02 .text h3 {
    font-size: 28px;
    margin-bottom: 24px;
}

.se_02 .text p {
    font-size: 16px;
    margin-bottom: 24px;
}

.se_02 .text ul {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}

.se_02 .text li {
    font-size: 16px;
    width: 50%;
    margin: 8px 0;
}

.se_02 .text a {
    margin-top: 33px;
    font-size: 16px;
    color: #0061ff;
}

.se_02 .pic {
    width: 40%;
    margin: 5%;
}

.se_02 .pic img {
    width: 100%;
}

footer {
    height: 1000px;
}