* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ebf1f8;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav {
    font-size: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}

nav a {
    padding: 1px;
    color: #052855;
    text-decoration: none;
}

nav .Title_Tool {
    width: 60%;
    height: 30px;
    margin-top: 10px;
    margin-right: 5%;
    color: #052855;
    display: flex;
    justify-content: end;
}

nav .Title_Tool a {
    width: 50px;
    font-size: 14px;
}

nav .Title_Link {
    width: 60%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

nav .Title_Link .item {
    height: 48px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

nav .Title_Link .title {
    height: 48px;
    font-size: 32px;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

nav .Title_Link button {
    width: 144px;
    height: 48px;
    margin-right: 5%;
    color: #fff;
    background-color: #0061ff;
    border-radius: 15px;
    border: 0;
}

section {
    width: 60%;
}

.section_title {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.section_title .text {
    width: 45%;
}

.section_title .pic {
    width: 45%;
}

.section_title .text h3 {
    font-size: 36px;
}

.section_title .pic img {
    width: 100%;
    vertical-align: top;
}